html{
  font-family: monospace;
  background-color : rgb(33,63,63);
  color: white;
}
body{
  text-align:center;
  margin:auto;
}
#linkRandom{
  text-decoration: none;
  color : white;
}
h3.top{
  margin-top: 5%;
}
#searchBar{
  border-radius: 35px;
  border: none;
  width : 200px;
  font-size : 15px;
  padding : 10px;
  transition : all 0.5s ;
}
#searchBar.inactive, #searchForm.inactive{
  border-radius: 0px;
  border: none;
  height : 0;
  width : 0;
  font-size : 0;
  padding : 0;
}
#cancelBtn.inactive, #searchBtn.inactive{
  display:none;
  transition : all 0.5s ;
}

#searchBtn:hover, #cancelBtn:hover{
  cursor : pointer;
}

.wikiDiv{
  padding : 10px;
  border : 1px solid white;
  text-align : left;
  background-color : white;
  color : black;
  width : 80%;
  margin: 10px auto;
  opacity : 1;
  transition : all 0.5s;
}
.wikiDiv:hover, .wikiDiv:hover::before{
  cursor : pointer;
  border-left : 10px solid lightgray;
  transition : all 0.2s;
}
.wikiDiv > p{
  opacity : 0.7;
  font-size : 0.8em;
}
.wikiDiv.inactive{
  position: static;
  bottom : 300px;
  opacity : 0;
  padding : 0;
  border : none;
  background-color : w;
  color : black;
  width : 80%;
  margin: 10px auto;
  transition : all 0.5s;
}

footer{
  margin-top : 300px;
}